<!DOCTYPE html>
<html lang="en" ng-app="openAngel">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- build:css /styles/popup-vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css /styles/controls.css -->
    <link href="/styles/controls.css" rel="stylesheet">
  <!-- endbuild -->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarCtrl as vm">
  <div class="container" ng-cloak>
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Family Movie Filters</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">


      <div class="btn-group navbar-btn ">
        <button type="button" class="btn btn-default" ng-click="vm.fastBackward()">
          <i class="fa fa-fast-backward"></i>
        </button>
        <button type="button" class="btn btn-default" ng-click="vm.playPause()">
          <i class="fa fa-pause" ng-if="!vm.currentStatus.paused"></i>
          <i class="fa fa-play" ng-if="vm.currentStatus.paused"></i>
        </button>
        <button type="button" class="btn btn-default" ng-click="vm.fastForward()">
          <i class="fa fa-fast-forward"></i>
        </button>
      </div>
      <p class="navbar-text" style="width:100px">
        {{vm.currentStatus.currentTime }}
      </p>
      <p class="navbar-text" style="width:100px">
        {{vm.currentStatus.currentTime | formatSeconds}}
      </p>

    </div>
  </div>
</nav>

<section ui-view></section>

<!-- build:js /scripts/popup-vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/bower_components/angular-resource/angular-resource.js"></script>
<script src="/bower_components/lodash/lodash.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js /scripts/controlsApp.js -->
  <script src="/scripts/controls/controls.js"></script>
  <script src="/scripts/controls/routes.js"></script>
  <script src="/scripts/controls/navBarctrl.js"></script>
  <script src="/scripts/controls/mainCtrl.js"></script>
<!-- endbuild -->

</body>
</html>
