<!DOCTYPE html>
<html lang="en" ng-app="openAngel">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- build:css /styles/popup-vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.css" />
  <!-- endbower -->

  <!-- endbuild -->

  <!-- build:css /styles/controls.css -->
  <link href="/styles/controls.css" rel="stylesheet">
  <!-- endbuild -->
</head>

<body ng-controller="NavbarCtrl as vm" ng-class="{'overlay': vm.controlsFullScreen}">


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container" ng-cloak>
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Family Movie Filters
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">


      <div class="btn-group navbar-btn ">
        <button type="button" class="btn btn-default" ng-click="vm.frameBackward()" ng-hide="vm.currentStatus.netflix" uib-tooltip="Frame backwards" tooltip-placement="left">
          <i class="fa fa-step-backward"></i>
        </button>

        <button type="button" class="btn btn-default" ng-click="vm.fastBackward()" uib-tooltip="Back 1s" tooltip-placement="left">
          <i class="fa fa-fast-backward"></i>
        </button>
        <button type="button" class="btn btn-default" ng-click="vm.playPause()">
          <i class="fa fa-pause" ng-if="!vm.currentStatus.paused"></i>
          <i class="fa fa-play" ng-if="vm.currentStatus.paused"></i>
        </button>
        <button type="button" class="btn btn-default" ng-click="vm.fastForward()" uib-tooltip="Forwards 1s" tooltip-placement="right">
          <i class="fa fa-fast-forward"></i>
        </button>

        <button type="button" class="btn btn-default" ng-click="vm.frameForward()" ng-hide="vm.currentStatus.netflix" uib-tooltip="Frame forwards" tooltip-placement="left">
          <i class="fa fa-step-forward"></i>
        </button>

        <button ng-if="vm.currentStatus.entries.length>0" type="button" class="btn btn-default" uib-tooltip="Reload filters" tooltip-placement="right" ng-click="vm.reloadFilters()">
          <i class="fa fa-refresh"></i>
        </button>

        <button ng-if="vm.currentStatus.closedCaptionUrl" class="btn btn-default" ng-click="vm.showClosedCaptionList()"><i class="fa fa-cc"></i></button>

        <button class="btn btn-default" ng-click="vm.blurVideo()"><i class="fa fa-eye-slash"></i></button>

        <button uib-tooltip="Toggle Automute" tooltip-placement="right" class="btn btn-default" ng-click="vm.toggleAutoMute()"><i class="fa" ng-class="!vm.currentStatus.autoMuteEnabled ? 'fa-volume-off' : 'fa-volume-up'"></i></button>
      </div>


      <div class="well well-sm pull-right status-well" id="timeStatus">
        {{vm.currentStatus.currentTime.toFixed(6) }} | {{vm.currentStatus.currentTime | formatSeconds}} /
        {{vm.currentStatus.duration| formatSeconds}}
        <i class="fa fa-clock-o fa-2x"></i>
      </div>
      <div class="well well-sm pull-right status-well">
        <strong>Filters available:</strong>
        <strong ng-if="vm.currentStatus.entries.length > 0">
          <a class="badge" ng-click="vm.showFilters()">{{vm.currentStatus.entries.length}}</a>
        </strong>
        <i ng-if="vm.currentStatus.entries.length == 0" class="fa fa-times-circle-o fa-2x text-danger"></i>
      </div>

    </div>
  </div>
</nav>
<div class="container">
  <div class="pull-right">
    <div class="closeX">
      <a ng-click="vm.closePopup()" role="button"><i class="fa fa-times fa-3x"></i></a>
    </div>
  </div>

</div>

<div class="container">
  <section ui-view></section>
</div>


<!-- build:js /scripts/popup-vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/bower_components/lodash/lodash.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<script src="/bower_components/datatables.net/js/jquery.dataTables.js"></script>
<script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.js"></script>
<!-- endbower -->
<script src="/scripts/controls/dataTablesPlugin.js"></script>
<!-- endbuild -->

<!-- build:js /scripts/controlsApp.js -->
<script src="/scripts/controls/controls.js"></script>
<script src="/scripts/controls/routes.js"></script>
<script src="/scripts/controls/navBarctrl.js"></script>
<script src="/scripts/controls/mainCtrl.js"></script>
<script src="/scripts/controls/filterListCtrl.js"></script>
<script src="/scripts/controls/videoStateService.js"></script>
<script src="/scripts/controls/closedCaptionService.js"></script>
<script src="/scripts/controls/closedCaptionListCtrl.js"></script>
<!-- endbuild -->

</body>
</html>
