<div class="panel panel-default">

  <div class="panel-heading">Current Filters</div>
  <div class="panel-body">
    Filters that are enabled are shown <span class="filterEnabledExample">like this</span>.
  </div>
  <table class="table table-striped table-hover filterTable">
    <thead>
    <tr>
      <th>Enabled</th>
      <th>Level</th>
      <th>Category</th>
      <th>Comment</th>
      <th>Duration</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="entry in vm.currentStatus.entries track by entry.id" ng-class="{'filterEnabled': entry.enabled}">
      <td>
        <label class="switch">
          <input class="slider" type="checkbox" ng-model="entry.enabled" ng-click="vm.toggleFilterEnabled(entry)" />
          <div class="slider round"></div>
        </label>
      </td>
      <td>
        <i class="fa" ng-class="entry.level=='l' ? 'fa-arrow-down text-info' : 'fa-arrow-up text-warning'"></i>
      </td>
      <td>
        <i class="fa" ng-class="entry.type =='video' ? 'fa-video-camera' : 'fa-volume-up' "></i>
        {{entry.category}}
      </td>
      <td>
        {{entry.comment}}
      </td>
      <td class="durationCell">
        {{entry.from | formatSeconds}} - {{entry.to | formatSeconds}} ({{(entry.to - entry.from).toFixed(2)}} seconds)
      </td>
    </tr>
    </tbody>
  </table>
</div>
